h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgba(165, 42, 42, 0.633);
  }
*{
  background-image: url("todo.jpg");
  font-weight: bolder;
  background-size: cover;
}
.Delete{
  background-color: black;
  color: white;
}
input{
  height: 100px;
  width:150px;
  margin-left: 120px;
}
button{
  background-color: black;
  color: white;
}
ul{
  margin-left: 120px;
  font-size: 30px;

}

